<h1>Prism Dashboard</h1>

<%# if policy(Person.new).create? %>
<%= link_to "Add New Person", new_person_path, class: 'btn btn-sm btn-success' %>
<%# end %>
<br>
<br>
<%= form_tag(people_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
<%= submit_tag "Search", class: 'btn btn-sm btn-success' %>
<% end %>
<br>
<%= render partial: 'people/search', collection: @people %>
